html,
body{

width:100%;
height:100%;
margin:0;
padding:0;

font-family:Arial;

background:#ffffff;

overflow:hidden;

}

#chat{

display:flex;

flex-direction:column;

height:100%;

}

#header{

height:60px;

background:#10A37F;

color:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 20px;

}

.title{

font-size:20px;

font-weight:bold;

}

.status{

font-size:13px;

opacity:.8;

}

#messages{

flex:1;

overflow-y:auto;

padding:20px;

background:#F7F7F8;

}

.message{

max-width:75%;

padding:12px;

margin-bottom:15px;

border-radius:12px;

word-wrap:break-word;

}

.user{

margin-left:auto;

background:#10A37F;

color:white;

}

.bot{

margin-right:auto;

background:white;

border:1px solid #ddd;

}

#inputArea{

display:flex;

padding:15px;

gap:10px;

background:white;

border-top:1px solid #ddd;

}

textarea{

flex:1;

resize:none;

padding:10px;

font-size:15px;

border-radius:8px;

}

button{

width:120px;

background:#10A37F;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}